#define HOST_OS 2

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_58keys.h"
#include "../zmk-nodefree-config/international_chars/german.dtsi"

#define ___ &trans

// layer definitions
#define COLEMAK         0
#define QWERTY          1
#define NUM             2
#define NAV             3
#define DEUTSCH_COLEMAK 4
#define DEUTSCH_QWERTY  5

ZMK_BEHAVIOR(mo_to, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <200>;
    bindings = <&mo>, <&to>;
)

// hold: switch to deutsch; tap: switch to colemak
#define MT_COLEMAK &mo_to DEUTSCH_QWERTY COLEMAK
// hold: switch to deutsch; tap: switch to qwerty
#define MT_QWERTY &mo_to DEUTSCH_COLEMAK QWERTY

ZMK_UNICODE_SINGLE(euro_sign, N2, N0, A, C) // €


ZMK_LAYER(colemak,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         &kp ESC       &kp N1        &kp N2        &kp N3        &kp N4        &kp N5                                     &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &kp EQUAL
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         &kp TAB       &kp Q         &kp W         &kp F         &kp P         &kp B                                      &kp J         &kp L         &kp U         &kp Y         &kp SEMI      &kp MINUS    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         &kp LCTRL     &kp A         &kp R         &kp S         &kp T         &kp G                                      &kp M         &kp N         &kp E         &kp I         &kp O         &kp SQT    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         &kp LSHFT     &kp Z         &kp X         &kp C         &kp D         &kp V         &kp LBKT       &kp RBKT      &kp K         &kp H         &kp COMMA     &kp DOT       &kp FSLH      &kp RSHIFT    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
                                                   &kp LALT      &lt NAV LGUI  MT_QWERTY     &kp SPACE      &kp ENTER     &mo NUM       &kp BSPC      &kp RGUI
    //                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(qwerty,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         &kp ESC       &kp N1        &kp N2        &kp N3        &kp N4        &kp N5                                     &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &kp EQUAL
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         &kp TAB       &kp Q         &kp W         &kp E         &kp R         &kp T                                      &kp Y         &kp U         &kp I         &kp O         &kp P         &kp MINUS    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         &kp LCTRL     &kp A         &kp S         &kp D         &kp F         &kp G                                      &kp H         &kp J         &kp K         &kp L         &kp SEMI      &kp SQT    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         &kp LSHFT     &kp Z         &kp X         &kp C         &kp V         &kp B         &kp LBKT       &kp RBKT      &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &kp RSHIFT    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
                                                   &kp LALT      &lt NAV LGUI  MT_COLEMAK    &kp SPACE      &kp ENTER     &mo NUM       &kp BSPC      &kp RGUI
    //                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(num,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         ___           ___           ___           ___           ___           &kp EQUAL                                  ___           ___           ___           ___           ___           ___
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         ___           ___           &kp 7         &kp 8         &kp 9         &kp FSLH                                   ___           ___           ___           ___           ___           ___    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         ___           ___           &kp 4         &kp 5         &kp 6         &kp STAR                                   &sk RSHIFT    &sk RCTRL     &sk RALT      &sk RGUI      ___           ___    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         ___           ___           &kp 1         &kp 2         &kp 3         &kp PLUS      ___            ___           ___           ___           ___           ___           ___           ___    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
                                                   &kp 0         &kp DOT       &kp MINUS     &kp SPACE      &kp ENTER     ___           ___           ___
    //                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(nav,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         ___           ___           ___           ___           ___           ___                                        ___           ___           ___           ___           ___           ___
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         ___           ___           ___           ___           ___           ___                                        &kp PG_UP     &kp HOME      &kp UP        &kp END       &kp INS       ___    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         &sk LGUI      &sk LALT      &sk LCTRL     &sk LSHIFT    ___           ___                                        &kp PG_DN     &kp LEFT      &kp DOWN      &kp RIGHT     &kp DEL       ___    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         ___           ___           ___           ___           ___           ___           ___            ___           ___           ___           ___           ___           ___           ___    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
                                                   ___           ___           ___           &kp SPACE      &kp ENTER     ___           ___           ___
    //                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(de_colemak,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         &kp ESC       ___           ___           ___           ___           ___                                        ___           ___           ___           ___           ___           ___
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         &kp TAB       ___           ___           ___           ___           ___                                        ___           ___           &de_ue        ___            ___          ___     
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         &kp LCTRL     &de_ae        ___           &de_eszett    ___           ___                                        ___           ___           &euro_sign    ___           &de_oe        ___    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         &kp LSHFT     ___           ___           ___           ___           ___           ___            ___           ___           ___           ___           ___           ___           &kp RSHIFT  
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
                                                   ___           ___           ___           &kp SPACE      &kp ENTER     ___           ___           ___
    //                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(de_qwerty,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         &kp ESC       ___           ___           ___           ___           ___                                        ___           ___           ___           ___           ___           ___
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         &kp TAB       ___           ___           &euro_sign    ___           ___                                        ___           &de_ue        ___           &de_oe        ___           ___    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         &kp LCTRL     &de_ae        &de_eszett    ___           ___           ___                                        ___           ___           ___           ___           ___           ___    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
         &kp LSHFT     ___           ___           ___           ___           ___           ___            ___           ___           ___           ___           ___           ___           &kp RSHIFT  
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
                                                   ___           ___           ___           &kp SPACE      &kp ENTER     ___           ___           ___
    //                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯
)

//ZMK_LAYER(empty,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//         ___           ___           ___           ___           ___           ___                                        ___           ___           ___           ___           ___           ___
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
//         ___           ___           ___           ___           ___           ___                                        ___           ___           ___           ___           ___           ___    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
//         ___           ___           ___           ___           ___           ___                                        ___           ___           ___           ___           ___           ___    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
//         ___           ___           ___           ___           ___           ___           ___            ___           ___           ___           ___           ___           ___           ___    
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤─────────────┤
//                                                   ___           ___           ___           ___            ___           ___           ___           ___
    //                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯
//)

// --------------------------------------------------------------------------------------------------------------------
// |       |       |       |       |       |   =   |         #         |       |       |       |       |       |       |
// |       |       |   7   |   8   |   9   |   /   |         #         |       | SHIFT | CTRL  | LALT  |  GUI  |       |
// |       |       |   4   |   5   |   6   |   *   |         #         |       |       |       | RALT  |       |       |
// |       |       |   1   |   2   |   3   |   +   |       | # |       |       |       |       |       |       |       |
//                 |   0   |   ,   |   .   |   -   |       | # |       | HELD  |       |       |
//                 ----------------------------------------------------------------------------

/// {

//    keymap {
//        compatible = "zmk,keymap";

//        colemak {
// --------------------------------------------------------------------------------------------------------------------
// | ESC   |   1   |   2   |   3   |   4   |   5   |         #         |   6   |   7   |   8   |   9   |   0   |   =   |
// | TAB   |   Q   |   W   |   F   |   P   |   B   |         #         |   J   |   L   | U/UE  |   Y   |   ;   |   -   |
// | CTRL  | A/AE  |   R   | S/SS  |   T   |   G   |         #         |   M   |   N   |   E   |   I   | O/OE  |   '   |
// | SHIFT |   Z   |   X   |   C   |   D   |   V   |  "["  | # |  "]"  |   K   |   H   |   ,   |   .   |   /   | SHIFT |
//                 | RALT  |       |       |       | SPACE | # | ENTER |       |       | RALT  |
//                 ----------------------------------------------------------------------------

//            bindings = <
//&kp ESC   &kp N1   &kp N2 &kp N3     &kp N4   &kp N5                     &kp N6 &kp N7   &kp N8    &kp N9  &kp N0   &kp EQUAL
//&kp TAB   &kp Q    &kp W  &kp F      &kp P    &kp B                      &kp J  &kp L    &kp uuml  &kp Y   &kp SEMI &kp MINUS
//&kp LCTRL &kp auml &kp R  &kp eszett &kp T    &kp G                      &kp M  &kp N    &kp E     &kp I   &kp ouml &kp SQT
//&kp LSHFT &kp Z    &kp X  &kp C      &kp D    &kp V  &kp LBKT   &kp RBKT &kp K  &kp H    &kp COMMA &kp DOT &kp FSLH &kp RSHFT
//                            &kp RALT &kp LGUI &mo 1  &kp SPACE  &kp RET  &mo 2  &kp BSPC &kp RALT
//            >;
//        }

//        qwerty {
// --------------------------------------------------------------------------------------------------------------------
// | ESC   |   1   |   2   |   3   |   4   |   5   |         #         |   6   |   7   |   8   |   9   |   0   |   =   |
// | TAB   |   Q   |   W   |   E   |   R   |   T   |         #         |   Y   | U/UE  |   I   | O/OE  |   P   |   -   |
// | CTRL  | A/AE  | S/SS  |   D   |   F   |   G   |         #         |   H   |   J   |   K   |   L   |   ;   |   '   |
// | SHIFT |   Z   |   X   |   C   |   V   |   B   |  "["  | # |  "]"  |   N   |   M   |   ,   |   .   |   /   | SHIFT |
//                 | RALT  |       |       |       | SPACE | # | ENTER |       |       | RALT  |
//                 ----------------------------------------------------------------------------
//        }

//        layers {
// --------------------------------------------------------------------------------------------------------------------
// |       |       |       |       |       |       |         #         |       |       |       |       |       |       |
// |       |       |       |       |       |       |         #         |       |       |       |       |       |       |
// | HELD  |       |       |       |       |       |         #         |       | COLEM | QWERT |       |       |       |
// |       |       |       |       |       |       |       | # |       |       |       |       |       |       |       |
//                 |       |       |       |       |       | # |       |       |       |       |
//                 ----------------------------------------------------------------------------
//        }

//        mouse {
// --------------------------------------------------------------------------------------------------------------------
// |       |       |       |       |       |       |         #         |       |       |       |       |       |       |
// |       |  GUI  | LALT  | CRTL  | SHIFT |       |         #         |       |       |       |       |       |       |
// |       |       | RALT  |       |       |       |         #         |       |       |       |       |       |       |
// |       |       |       |       |       |       |       | # |       |       |       |       |       |       |       |
//                 |       |       |       | HELD  |       | # |       |       |       |       |
//                 ----------------------------------------------------------------------------
//        }

//        nav {
// --------------------------------------------------------------------------------------------------------------------
// |       |       |       |       |       |       |         #         |       |       |       |       |       |       |
// |       |  GUI  | LALT  | CRTL  | SHIFT |       |         #         |       |       |       |       |       |       |
// |       |       | RALT  |       |       |       |         #         |       |       |       |       |       |       |
// |       |       |       |       |       |       |       | # |       |       |       |       |       |       |       |
//                 |       |       | HELD  |       |       | # |       |       |       |       |
//                 ----------------------------------------------------------------------------
//        }

//        media {
// --------------------------------------------------------------------------------------------------------------------
// |       |       |       |       |       |       |         #         |       |       |       |       |       |       |
// |       |  GUI  | LALT  | CRTL  | SHIFT |       |         #         |       |       |       |       |       |       |
// |       |       | RALT  |       |       |       |         #         |       |       |       |       |       |       |
// |       |       |       |       |       |       |       | # |       |       |       |       |       |       |       |
//                 |       | HELD  |       |       |       | # |       |       |       |       |
//                 ----------------------------------------------------------------------------
//        }

//        num {
// --------------------------------------------------------------------------------------------------------------------
// |       |       |       |       |       |   =   |         #         |       |       |       |       |       |       |
// |       |       |   7   |   8   |   9   |   /   |         #         |       | SHIFT | CTRL  | LALT  |  GUI  |       |
// |       |       |   4   |   5   |   6   |   *   |         #         |       |       |       | RALT  |       |       |
// |       |       |   1   |   2   |   3   |   +   |       | # |       |       |       |       |       |       |       |
//                 |   0   |   ,   |   .   |   -   |       | # |       | HELD  |       |       |
//                 ----------------------------------------------------------------------------
//        }

//        sym {
// --------------------------------------------------------------------------------------------------------------------
// |       |       |       |       |       |       |         #         |       |       |       |       |       |       |
// |       |       |       |       |       |       |         #         |       | SHIFT | CTRL  | LALT  |  GUI  |       |
// |       |       |       |       |       |       |         #         |       |       |       | RALT   |       |       |
// |       |       |       |       |       |       |       | # |       |       |       |       |       |       |       |
//                 |       |       |       |       |       | # |       |       | HELD  |       |
//                 ----------------------------------------------------------------------------
//        }

//        fn {
// --------------------------------------------------------------------------------------------------------------------
// |       |       |       |       |       |       |         #         |       |       |       |       |       |       |
// |       |       |       |       |       |       |         #         |       | SHIFT | CTRL  | LALT  |  GUI  |       |
// |       |       |       |       |       |       |         #         |       |       |       | RALT  |       |       |
// |       |       |       |       |       |       |       | # |       |       |       |       |       |       |       |
//                 |       |       |       |       |       | # |       |       |       | HELD  |
//                 ----------------------------------------------------------------------------
//        }
//    };
//};

//      empty {
// --------------------------------------------------------------------------------------------------------------------
// |       |       |       |       |       |       |         #         |       |       |       |       |       |       |
// |       |       |       |       |       |       |         #         |       |       |       |       |       |       |
// |       |       |       |       |       |       |         #         |       |       |       |       |       |       |
// |       |       |       |       |       |       |       | # |       |       |       |       |       |       |       |
//                 |       |       |       |       |       | # |       |       |       |       |
//                 ----------------------------------------------------------------------------
//      }