#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/34.h"
#include "zmk-helpers/unicode-chars/german.dtsi"
#include "keys_de.h"

#define ___ &trans

// https://github.com/urob/zmk-config/tree/main#timeless-homerow-mods
#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4
#define THUMBS LH1 LH0 RH0 RH1


ZMK_HOLD_TAP(hml,
    flavor = "balanced";
    tapping-term-ms = <280>;
    require-prior-idle-ms = <150>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
    bindings = <&kp>, <&kp>;
)

ZMK_HOLD_TAP(hmr,
    flavor = "balanced";
    tapping-term-ms = <280>;
    require-prior-idle-ms = <150>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
    bindings = <&kp>, <&kp>;
)

// homerow keys
#define HM_A    &hml LCTRL DE_A
#define HM_S    &hml LALT DE_S
#define HM_D    &hml LCMD DE_D
#define HM_F    &hml LSHIFT DE_F

#define HM_J    &hmr RSHIFT DE_J
#define HM_K    &hmr LCMD DE_K
#define HM_L    &hmr LALT DE_L
#define HM_SEMI &hmr LCTRL DE_SEMI

// umlaut combos
#define ADAPTIVE_IDLE 800
ZMK_ADAPTIVE_KEY(
    adap_e, bindings = <&kp DE_E>;
    ae_umlaut {
        trigger-keys = <A>;
        bindings = <&kp BACKSPACE &kp DE_A_UMLAUT>;
        max-prior-idle-ms = <ADAPTIVE_IDLE>;
    };
    oe_umlaut {
        trigger-keys = <O>;
        bindings = <&kp BACKSPACE &kp DE_O_UMLAUT>;
        max-prior-idle-ms = <ADAPTIVE_IDLE>;
    };
    ue_umlaut {
        trigger-keys = <U>;
        bindings = <&kp BACKSPACE &kp DE_U_UMLAUT>;
        max-prior-idle-ms = <ADAPTIVE_IDLE>;
    };

    ae_umlaut_upper {
        trigger-keys = <LS(A)>;
        bindings = <&kp BACKSPACE &kp LS(DE_A_UMLAUT)>;
        max-prior-idle-ms = <ADAPTIVE_IDLE>;
    };
    oe_umlaut_upper {
        trigger-keys = <LS(O)>;
        bindings = <&kp BACKSPACE &kp LS(DE_O_UMLAUT)>;
        max-prior-idle-ms = <ADAPTIVE_IDLE>;
    };
    ue_umlaut_upper {
        trigger-keys = <LS(U)>;
        bindings = <&kp BACKSPACE &kp LS(DE_U_UMLAUT)>;
        max-prior-idle-ms = <ADAPTIVE_IDLE>;
    };
)
ZMK_ADAPTIVE_KEY(
    adap_z, bindings = <&kp DE_Z>;
    eszett {
        trigger-keys = <S>;
        bindings = <&kp BACKSPACE &kp DE_ESZETT>;
        max-prior-idle-ms = <ADAPTIVE_IDLE>;
    };
)

// tap: backspace | shift + tap: delete
ZMK_MOD_MORPH(bspc_del,
     bindings = <&kp BSPC>, <&kp DEL>;
     mods = <(MOD_LSFT|MOD_RSFT)>;
)

#define QWERTZ      0
#define SYM_NUM     1
#define NAV         2

ZMK_LAYER(QWERTZ,
  // ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
       &kp DE_Q         &kp DE_W         &adap_e          &kp DE_R         &kp DE_T          &adap_z          &kp DE_U         &kp DE_I         &kp DE_P         &kp DE_BSLH
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
       HM_A             HM_S             HM_D             HM_F             &kp DE_G          &kp DE_H         HM_J             HM_K             HM_L             HM_SEMI
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
       &kp DE_Y         &kp DE_X         &kp DE_C         &kp DE_V         &kp DE_B          &kp DE_N         &kp DE_M         &kp DE_COMMA     &kp DE_DOT       &kp DE_FSLH
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
                                                          &trans           &kp SPACE         &kp ENTER        &trans
  //                                                    ╰────────────────┴────────────────╯╰────────────────┴────────────────╯
)
