#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/34.h"
#include "zmk-helpers/unicode-chars/german.dtsi"
#include "keys_de.h"

#define xxx &none
#define ___ &trans

// https://github.com/urob/zmk-config/tree/main#timeless-homerow-mods
#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4
#define THUMBS LH1 LH0 RH0 RH1

// define mod morph with single mod key
#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2)     \
    ZMK_MOD_MORPH(NAME,                                 \
        mods = <(MOD_L##MOD | MOD_R##MOD)>;             \
        bindings = <BINDING1>, <BINDING2>;              \
    )

// custom keys
SIMPLE_MORPH(c_fslh, SFT, &kp DE_FSLH, &kp DE_QUESTION)


ZMK_HOLD_TAP(hml,
    flavor = "balanced";
    tapping-term-ms = <280>;
    require-prior-idle-ms = <150>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
    bindings = <&kp>, <&kp>;
)

ZMK_HOLD_TAP(hmr,
    flavor = "balanced";
    tapping-term-ms = <280>;
    require-prior-idle-ms = <150>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
    bindings = <&kp>, <&kp>;
)

// homerow keys
#define HM_A        &hml LCTRL DE_A
#define HM_S        &hml LALT DE_S
#define HM_D        &hml LCMD DE_D
#define HM_F        &hml LSHIFT DE_F

#define HM_J        &hmr RSHIFT DE_J
#define HM_K        &hmr LCMD DE_K
#define HM_L        &hmr LALT DE_L
#define HM_MINUS    &hmr LCTRL DE_MINUS

// umlaut combos
#define ADAPTIVE_IDLE 800
ZMK_ADAPTIVE_KEY(
    adap_e, bindings = <&kp DE_E>;
    ae_umlaut {
        trigger-keys = <A>;
        bindings = <&kp BACKSPACE &kp DE_A_UMLAUT>;
        max-prior-idle-ms = <ADAPTIVE_IDLE>;
    };
    oe_umlaut {
        trigger-keys = <O>;
        bindings = <&kp BACKSPACE &kp DE_O_UMLAUT>;
        max-prior-idle-ms = <ADAPTIVE_IDLE>;
    };
    ue_umlaut {
        trigger-keys = <U>;
        bindings = <&kp BACKSPACE &kp DE_U_UMLAUT>;
        max-prior-idle-ms = <ADAPTIVE_IDLE>;
    };

    ae_umlaut_upper {
        trigger-keys = <LS(A)>;
        bindings = <&kp BACKSPACE &kp LS(DE_A_UMLAUT)>;
        max-prior-idle-ms = <ADAPTIVE_IDLE>;
    };
    oe_umlaut_upper {
        trigger-keys = <LS(O)>;
        bindings = <&kp BACKSPACE &kp LS(DE_O_UMLAUT)>;
        max-prior-idle-ms = <ADAPTIVE_IDLE>;
    };
    ue_umlaut_upper {
        trigger-keys = <LS(U)>;
        bindings = <&kp BACKSPACE &kp LS(DE_U_UMLAUT)>;
        max-prior-idle-ms = <ADAPTIVE_IDLE>;
    };
)
ZMK_ADAPTIVE_KEY(
    adap_z, bindings = <&kp DE_Z>;
    eszett {
        trigger-keys = <S>;
        bindings = <&kp BACKSPACE &kp DE_ESZETT>;
        max-prior-idle-ms = <ADAPTIVE_IDLE>;
    };
)

// tap: backspace | shift + tap: delete
ZMK_MOD_MORPH(bspc_del,
     bindings = <&kp BSPC>, <&kp DEL>;
     mods = <(MOD_LSFT|MOD_RSFT)>;
)

#define QWERTZ      0
#define SYM         1
#define NUM         2
#define NAV         3
#define SYS         4
#define LAYERS      5

// permanent layer switch combos
ZMK_COMBO(to_layers, &to LAYERS, LM0 RM5, QWERTZ SYM NUM NAV SYS) // use pinkies to go to layers selection layer
ZMK_COMBO(to_quertz, &to QWERTZ, LM0 RM5, LAYERS) // use pinkies to go to default layer from the selection layer
ZMK_CONDITIONAL_LAYER(sys, NAV SYM, SYS) // go to SYS layer when NAV and SYM are active

ZMK_LAYER(QWERTZ,
  // ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
       &kp DE_Q         &kp DE_W         &adap_e          &kp DE_R         &kp DE_T          &adap_z          &kp DE_U         &kp DE_I         &kp DE_O         &kp DE_P
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
       HM_A             HM_S             HM_D             HM_F             &kp DE_G          &kp DE_H         HM_J             HM_K             HM_L             HM_MINUS
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
       &kp DE_Y         &kp DE_X         &kp DE_C         &kp DE_V         &kp DE_B          &kp DE_N         &kp DE_M         &kp DE_COMMA     &kp DE_DOT       &c_fslh
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
                                                          &lt NUM TAB      &lt NAV SPACE     &lt SYM ENTER    &bspc_del
  //                                                    ╰────────────────┴────────────────╯╰────────────────┴────────────────╯
)

ZMK_MACRO(arr_fun, bindings = <&kp DE_EQUAL &kp DE_GT>;)     // =>
ZMK_MACRO(p_eq, bindings = <&kp DE_PLUS &kp DE_EQUAL>;)      // +=
ZMK_MACRO(q_eq, bindings = <&kp DE_QMARK &kp DE_EQUAL>;)     // ?=
ZMK_MACRO(p_p, bindings = <&kp DE_PLUS &kp DE_PLUS>;)        // ++
ZMK_MACRO(m_m, bindings = <&kp DE_MINUS &kp DE_MINUS>;)      // --
ZMK_LAYER(SYM,
  // ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
       &kp DE_EXCL      &kp DE_PLUS      &kp DE_LBRC      &kp DE_RBRC      &kp DE_EQUAL      &kp DE_CARET     &kp DE_AT        &kp DE_STAR      &kp DE_PERCENT   &kp DE_DOLLAR
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
       &kp DE_LT        &kp DE_GT        &kp DE_LPAR      &kp DE_RPAR      &kp DE_PIPE       &kp DE_GRAVE     &kp DE_SQT       &kp DE_DQT       &arr_fun         &kp DE_EURO
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
       &kp DE_HASH      &kp DE_AMPS      &kp DE_LBKT      &kp DE_RBKT      &kp DE_BSLH       &kp DE_TILDE     &p_eq            &q_eq            &p_p             &m_m
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
                                                          xxx              xxx               xxx              xxx
  //                                                    ╰────────────────┴────────────────╯╰────────────────┴────────────────╯
)

ZMK_LAYER(NUM,
  // ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
       xxx              xxx              xxx              xxx              xxx               xxx              &kp DE_N7        &kp DE_N8        &kp DE_N9        xxx
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
       xxx              xxx              xxx              xxx              xxx               xxx              &kp DE_N4        &kp DE_N5        &kp DE_N6        xxx
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
       xxx              xxx              xxx              xxx              xxx               &kp DE_N0        &kp DE_N1        &kp DE_N2        &kp DE_N3        xxx
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
                                                          xxx              xxx               xxx              xxx
  //                                                    ╰────────────────┴────────────────╯╰────────────────┴────────────────╯
)

ZMK_LAYER(NAV,
  // ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
       xxx              xxx              xxx              xxx              xxx               &kp HOME         &kp PAGE_UP      &kp PAGE_DOWN    &kp END          &kp ESC
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
       xxx              xxx              xxx              xxx              xxx               &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT        &kp ENTER
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
       xxx              xxx              xxx              xxx              xxx               &kp ESC          &kp TAB          &kp BSPC         &kp DEL          xxx
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
                                                          xxx              xxx               xxx              xxx
  //                                                    ╰────────────────┴────────────────╯╰────────────────┴────────────────╯
)

ZMK_LAYER(LAYERS,
  // ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
       xxx              xxx              xxx              xxx              xxx               xxx              xxx              xxx              xxx              xxx
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
       xxx              xxx              xxx              xxx              xxx               xxx              xxx              xxx              xxx              xxx
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
       xxx              xxx              xxx              xxx              xxx               xxx              xxx              xxx              xxx              xxx
  // ├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤├────────────────┼────────────────┼────────────────┤────────────────┤────────────────┤
                                                          &to NUM          &to NAV           &to SYM          &to SYS
  //                                                    ╰────────────────┴────────────────╯╰────────────────┴────────────────╯
)

